@model GameMapStorageWebSite.Entities.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnglishTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attribution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attribution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialSiteUri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialSiteUri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteamAppId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteamAppId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastChangeUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastChangeUtc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
