@model IEnumerable<GameMapStorageWebSite.Entities.Game>
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "Games";
    var canEdit = (await authorizationService.AuthorizeAsync(User, "AdminEdit")).Succeeded;
}

<h1>Games</h1>
@if(canEdit)
{
    <p>
        <a asp-action="Create" class="btn btn-secondary">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnglishTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attribution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialSiteUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteamAppId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastChangeUtc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.GameId">@Html.DisplayFor(modelItem => item.EnglishTitle)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attribution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialSiteUri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteamAppId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChangeUtc)
            </td>
            @if (canEdit)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
