@model GameMapStorageWebSite.Entities.GameMap

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GameMap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.GameMapId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameMapId" />
            <div class="form-group">
                <label asp-for="EnglishTitle" class="control-label"></label>
                <input asp-for="EnglishTitle" class="form-control" />
                <span asp-validation-for="EnglishTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppendAttribution" class="control-label"></label>
                <input asp-for="AppendAttribution" class="form-control" />
                <span asp-validation-for="AppendAttribution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteamWorkshopId" class="control-label"></label>
                <input asp-for="SteamWorkshopId" class="form-control" />
                <span asp-validation-for="SteamWorkshopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficialSiteUri" class="control-label"></label>
                <input asp-for="OfficialSiteUri" class="form-control" />
                <span asp-validation-for="OfficialSiteUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeInMeters" class="control-label"></label>
                <input asp-for="SizeInMeters" class="form-control" />
                <span asp-validation-for="SizeInMeters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aliases" class="control-label"></label>
                <input name="Aliases" value="@string.Join(';',Model.Aliases ?? [])" class="form-control" />
                <span asp-validation-for="Aliases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginX" class="control-label"></label>
                <input asp-for="OriginX" class="form-control" />
                <span asp-validation-for="OriginX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginY" class="control-label"></label>
                <input asp-for="OriginY" class="form-control" />
                <span asp-validation-for="OriginY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h4>Thumbnail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetThumbnail" asp-route-id="@Model.GameMapId">
            <input type="hidden" asp-for="GameMapId" />
            @if (ViewBag.ImageError != null)
            {
                <div class="text-danger">
                    @ViewBag.ImageError
                </div>
            }
            <div class="form-group">
                <img src="@ImagePathHelper.GetThumbnail(false, Model)" class="mw-100" />
            </div>
            <div class="form-group">
                <label for="imageUri" class="control-label">URL to new map thumbnail</label>
                <input name="imageUri" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">All maps list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
