@model HomeGameViewModel
@{
    ViewData["Title"] = Model.Game.EnglishTitle;
    ViewData["Attribution"] = MapUtils.CombineAttibutions( Model.Game.Attribution, Model.Maps.Select(m => m.AppendAttribution));
}
<h1 class="text-center">
    @Model.Game.EnglishTitle
</h1>
@if (!string.IsNullOrEmpty(Model.Tag))
{
    <p class="text-center">
        Maps with tag
        @{
            await Html.RenderPartialAsync("_Tags", new TagsViewModel([Model.Tag], Model.Game.Name));
        }
    </p>
}
else if (Model.Maps.Count > 0)
{
    <p class="text-center">@string.Format("{0} maps in the atlas. Total of {1} km² and {2} cities.", Model.Maps.Count, Model.Maps.Sum(map => Math.Round(map.SizeInMeters * map.SizeInMeters / 1000000.0)), Model.Maps.Sum(map => map.CitiesCount))</p>
}
<p class="text-center">
    @if (!string.IsNullOrEmpty(Model.Tag))
    {
        <a asp-action="Game" asp-route-gameName="@Model.Game.Name" class="btn btn-sm btn-secondary me-2"><i class="fa-solid fa-arrow-left"></i> Show All Maps</a>
    }
    <a href="@Model.Game.OfficialSiteUri" class="btn btn-sm btn-secondary"><i class="fa-solid fa-arrow-up-right-from-square"></i> Official Web Site</a>
    @if (!string.IsNullOrEmpty(Model.Game.SteamAppId))
    {
        <a href="https://store.steampowered.com/app/@(Model.Game.SteamAppId)/" class="btn btn-sm btn-secondary"><i class="fa-brands fa-steam"></i> Steam Store Page</a>
    }
</p>

<div class="row row-cols-1 row-cols-md-4">
    @foreach (var map in Model.Maps.OrderBy(m => m.EnglishTitle))
    {
        <div class="col p-2">
            <div class="card h-100">
                <a asp-controller="Home" asp-action="Map" asp-route-gameName="@Model.Game.Name" asp-route-mapName="@map.Name">
                    <img src="@ImagePathHelper.GetThumbnail(Model.AcceptWebp, map)" alt="Map Preview" class="card-img-top thumbnail-640-360" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-controller="Home" asp-action="Map" asp-route-gameName="@Model.Game.Name" asp-route-mapName="@map.Name">@map.EnglishTitle</a>
                    </h5>
                    <p class="card-text text-muted">
                        @string.Format("{0}x{0} km, {1} km², {2} cities", Math.Round(map.SizeInMeters / 1000.0,1), Math.Round(map.SizeInMeters*map.SizeInMeters / 1000000.0), map.CitiesCount)
                    </p>
                    @if (!string.IsNullOrEmpty(map.OfficialSiteUri))
                    {
                        <a href="@map.OfficialSiteUri" class="btn btn-sm btn-secondary"><i class="fa-solid fa-arrow-up-right-from-square"></i> Web Site</a>
                    }
                    @if (!string.IsNullOrEmpty(map.SteamWorkshopId))
                    {
                        <a href="https://steamcommunity.com/workshop/filedetails/?id=@map.SteamWorkshopId" class="btn btn-sm btn-secondary"><i class="fa-brands fa-steam"></i> Steam Workshop</a>
                    }
                </div>
            </div>
        </div>
    }
</div>