@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="position-relative">
                <input type="text" id="mapSearchInput" class="form-control" placeholder="Search for a map..." autocomplete="off" data-search-url="@Url.Action("SearchMaps", "Home")" />
                <div id="searchResults" class="position-absolute w-100 bg-white border rounded shadow mt-1" style="display: none; z-index: 1000; max-height: 400px; overflow-y: auto;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4">
    @foreach (var game in Model.Games.OrderBy(m => m.EnglishTitle))
    {
        <div class="col p-2">
            <div class="card h-100">
                <a asp-controller="Home" asp-action="Game" asp-route-gameName="@game.Name">
                    <img src="@ImagePathHelper.GetLogo(Model.AcceptWebp, game)" alt="Game Logo" class="card-img-top thumbnail-640-360" />
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a asp-controller="Home" asp-action="Game" asp-route-gameName="@game.Name">@game.EnglishTitle</a>
                    </h5>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/map-search.js" asp-append-version="true"></script>
}
