@model IEnumerable<GameMapStorageWebSite.Entities.GameMapLayer>
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "Index";
    var canEdit = (await authorizationService.AuthorizeAsync(User, "AdminEdit")).Succeeded;
}

<h1>Layers</h1>
@if (canEdit)
{
    <p>
        <a asp-action="CreateFromPackage" class="btn btn-secondary"><i class="fa-solid fa-upload"></i> Create From Package</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameMap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDefault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastChangeUtc)
            </th>
@if (canEdit)
{
            <th></th>
}
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.GameMapLayerId">@Html.DisplayFor(modelItem => item.GameMap!.EnglishTitle)</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.GameMapLayerId">@Html.DisplayFor(modelItem => item.Type)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDefault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Culture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChangeUtc)
            </td>
                @if (canEdit)
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameMapLayerId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.GameMapLayerId">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
