@model GameMapStorageWebSite.Entities.BackgroundWork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BackgroundWork</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartedUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartedUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinishedUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinishedUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Error)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Error)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameMapLayer)
        </dt>
        <dd class="col-sm-10">
            @if (Model.GameMapLayer != null)
            {
                <a asp-controller="AdminGameMapLayers" asp-action="Details" asp-route-id="@Model.GameMapLayerId">
                    @Html.DisplayFor(model => model.GameMapLayer!.GameMap!.EnglishTitle)
                    @Html.DisplayFor(model => model.GameMapLayer!.Type)
                </a>
            }
        </dd>
    </dl>
</div>
<form asp-action="Restart" asp-route-id="@Model.BackgroundWorkId">
    <button class="btn btn-sm btn-primary">Restart</button>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
