@model IEnumerable<GameMapStorageWebSite.Entities.BackgroundWork>

@{
    ViewData["Title"] = "Tasks";
    var dataMode = (ViewBag.DataMode as Services.DataMode?) ?? Services.DataMode.Primary;
}

<h1>Tasks</h1>

@if (dataMode == Services.DataMode.Mirror)
{
    <form asp-action="SyncMirror">
        <button class="btn btn-secondary spinner-on-click">
            <i class="fa-solid fa-rotate"></i>
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            Update Mirror
        </button>
    </form>
}
else
{
    <form asp-action="SyncArma3Map">
        <button class="btn btn-secondary"><i class="fa-solid fa-rotate"></i> Sync with Arma3Map</button>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameMapLayer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BackgroundWorkId">Task #@item.BackgroundWorkId</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameMapLayerId)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.BackgroundWorkId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    for (const button of document.querySelectorAll("button.spinner-on-click")) {
        button.addEventListener("click", (event) => {
            button.querySelector("i").classList.add("d-none");
            button.querySelector("span").classList.remove("d-none");
        });
    }
</script>